// Dynamic configuration
window.__config__ = {
  FTA_FMEA_CONTEXT:'${FTA_FMEA_CONTEXT}',
  FTA_FMEA_API_URL:'${FTA_FMEA_API_URL}',
  FTA_FMEA_ADMIN_REGISTRATION_ONLY:'${FTA_FMEA_ADMIN_REGISTRATION_ONLY}',
  FTA_FMEA_TITLE:'${FTA_FMEA_TITLE}'
}
